
<div
  mwlResizable
  [ngStyle]="style"
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  [resizeEdges]="{ bottom: false, right: true, left: false, top: false }"
  style="width: 60vw; height: 100vh; border: 1px solid black;"
>
  <div
    style="height: 50%; min-height: 25%; width: 100%;background: lightblue; margin-bottom:auto;  cursor: col-resize;"
    class="rectangle"
    [ngStyle]="chartStyle"
    [enableGhostResize]="true"
    mwlResizable
    (resizeEnd)="onChartResizeEnd($event)"
    [resizeEdges]="{ bottom: true, right: false, left: false, top: false }"
  >
    Map PlaceHolder
  </div>
  <div
    [enableGhostResize]="true"
    mwlResizable
    [ngStyle]="mapStyle"
    (resizeEnd)="onMapResizeEnd($event)"
    style="height: 50%; width: 100%;background: lightgreen;"
    class="rectangle"
    [resizeEdges]="{ bottom: false, right: true, left: false, top: true }"
  >
    chart PlaceHolder
  </div>
</div>
<div style="width: 60vw; height: 100vh; border: 1px solid black;">

</div>

